.AAA
{
  float: left;
  padding: 5px;
}
.additionalButtons
{
  visibility: hidden;
}
#log
{
  width: 250px;
  height: 850px;
  border: 2px solid black;
  visibility: hidden;
}
#logtitle
{
  font-weight: bold;
  visibility: hidden;
  margin-top: 10px;
}
#logcontainer
{
  height: 760px;
  overflow: auto;
}
#foodcount
{
  font-weight: bold;
  visibility: hidden;
  margin-top: 10px;
}
#autostop
{
  display: none;
}
#statscontainer
{
  background-color: greenyellow;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  visibility: hidden;
}
.statsitem
{
  background-color: lightgray;
  padding: 5px;
  border: 2px solid black;
  float: left;
  padding: 10px;
  flex: 100px;
}
.statName
{
  font-weight: bold;
  align-self: center;
  background-color: yellow;
}
